$light-blue: rgb(49, 211, 203);
$dark-blue: rgba(33, 63, 125, 0.7);

body {
  margin: 0;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  background-color: white;
  height: 100vh;
  color: $dark-blue;
  font-size: large;
}
Link{
  text-decoration: none;
}
// login
.Login-body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.Login-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100vw;
  height: 100vh;
}

.Login-image-container {
  background-color: #fffcfc;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  padding: 2rem;
  .Logo-image {
    margin-left: 5rem;
    margin-bottom: 4rem;
    width: 200px;
  }
  .Login-image {
    width: 100%;
    height: auto;
  }
}

.Login-form {
  background: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 4rem;

  .Login-form-text {
    margin-bottom: 2rem;

    .Login-header {
      color: $dark-blue;
      font-size: 3.5rem;
      font-weight: bold;
      margin-bottom: 0.5rem;
    }

    .Login-text {
      color: #7a7a7a;
      font-size: 1rem;
    }
  }

  .Login-details {
    display: flex;
    flex-direction: column;

    input {
      padding: 0.8rem;
      margin-bottom: 1rem;
      width: 80%;
      border: 1px solid #ccc;
      border-radius: 5px;
      font-size: 1rem;
      &:focus {
        outline: none;
        border-color: $light-blue;
      }
      &[type="submit"] {
        background-color: $light-blue;
        color: white;
        border: none;
        cursor: pointer;
        font-weight: bold;

        &:hover {
          background-color: rgb(38, 180, 173);
        }
      }
    }

    .form-group {
      position: relative;
      .show-password {
        position: absolute;
        right: 10rem;
        top: 30%;
        transform: translateY(-30%);
        color: #747bff;
        font-size: 0.9rem;
        cursor: pointer;
      }
    }

    .Forgotten-password {
      font-size: 0.9rem;
      color: $light-blue;
      text-decoration: none;
      margin-bottom: 1.5rem;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
// nav
.Nav {
  width: 100%;
  height: 130px;
  background-color: white;
  position:fixed;
  top: 0;
  color: $dark-blue;
  display: flex;
  padding: 0 50px;
  z-index: 1000;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

  & input { 
    border: 0.5px solid rgb(221, 219, 219);
    border-start-start-radius: 5px;
    border-bottom-left-radius: 5px;
    font-size: larger;
    width: 400px;
    padding: 13px 15px;
    &:focus{
      outline: none;
    }
  }
  & form button {
    width: 70px;
    height: inherit;
    cursor: pointer;
    border: none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 15px 0;
    background-color: $light-blue;

    font-size: larger;
    & img {
      color: white;
      background-position: cover;

    }
  }
}
.Nav-logo {
  width: 200px;
}
.Nav-docs-profile {
  display: flex;
  gap: 1rem;
  align-items: center;

  & button {
    background: none;
    border: none;
    & img {
      width: 30px;
      height: 30px;
    }
  }
}
.profile {
  display: flex;
  gap: 1rem;
  align-items: center;
  & .profile-pic {
    width: 50px;
    height: 50px;
    border-radius: 80px;
    position: center;
  }
}
.dropdown {
  width: 30px;
  height: 30px;
}
// Layout Styling
.app-layout {
  margin-top:130px;
  display: flex;

  .sidebar {
    background-color: #ffffff;
    border-right: 1px solid #e6e6e6;
  }

  .main-content {
    background-color: rgb(248, 246, 246);
    flex: 1;
  }
}

//sidebar
.sidebar {
  
  color: $dark-blue;
  width: 20%;
  margin-top: 4px;
  background-color: white;
  padding: 2rem;
  .sidebar-top-a {
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size:larger;
    margin-bottom: 1rem;
    & a {
      font-size: larger;
      font-weight:normal;
      color: $dark-blue;
      text-decoration: none;
    }
    & img {
      width: 20px;
      height: 20px;
    }
  }
  .section {
    margin-bottom: 2rem;

    .category {
      font-weight: bold;
      color: $dark-blue;
      margin-bottom: 0.5rem;
    }

    .menu {
      list-style: none;
      padding: 0;

      .menuItem {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        margin-bottom: 1rem;
        & img {
          width: 20px;
          height: 20px;
        }

        a {
          margin: 10px 0;
          text-decoration: none;
          color: $dark-blue;

          &:hover {
          
            color: #1a73e8;
          }
        }
      }
    }
  }
}

//users
.dashboard {
  padding: 2rem;
  font-family: Arial, sans-serif;
  min-height: 100vh;

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.5rem;

    &__title {
      font-size: 1.5rem;
      font-weight: bold;
      color: #333;
    }
  }

  &__stats {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1rem;
    margin-bottom: 2rem;
  }

  &__table {
    background: #fff;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

    table {
      width: 100%;
      border-collapse: collapse;

      th {
        text-align: left;
        padding: 0.75rem;
        color: $dark-blue;
        font-weight: bold;
        font-size: 0.9rem;
      }

      td {
        padding: 2rem;
        border-bottom: 1px solid #e5e7eb;
        color: $dark-blue;
      }

      tr:last-child td {
        border-bottom: none;
      }

      .status {
        &--active {
          color: #16a34a;
          background: #dcfce7;
          padding: 0.2rem 0.5rem;
          border-radius: 4px;
          font-size: 0.85rem;
        }

        &--pending {
          color: #d97706;
          background: #fef3c7;
          padding: 0.2rem 0.5rem;
          border-radius: 4px;
          font-size: 0.85rem;
        }

        &--inactive {
          color: #374151;
          background: #e5e7eb;
          padding: 0.2rem 0.5rem;
          border-radius: 4px;
          font-size: 0.85rem;
        }
        &--blacklisted {
          color: rgb(255, 80, 80);
          background: rgb(245, 208, 208);
          padding: 0.2rem 0.5rem;
          border-radius: 4px;
          font-size: 0.85rem;
        }
      }
    }
  }
}

// Stats Card Styles
.stat {
  background: #fff;
  border-radius: 8px;
  padding: 1rem;
  text-align: start;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

  &__label {
    font-size: 0.9rem;
    color: #6b7280;
    margin-bottom: 0.5rem;
  }

  &__count {
    font-size: 1.5rem;
    font-weight: bold;
    color: #111827;
  }
  .stat-img-container {
    padding: 10px;
    width: max-content;
    background-color: rgb(248, 243, 243);
    border-radius: 40px;
  }
  & img {
    width: 40px;
    height: 40px;
  }
}
// user
.user-section {
  font-family: Arial, sans-serif;
  padding: 2rem;
  margin: auto;
  width: 95%;
}
.user-details-container {
  .header {
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 2rem;
    .actions {
      button {
        font-size: larger;
        margin-left: 10px;
        border: 1.5px solid;
        border-radius: 5px;
        background: none;
        padding: 10px 30px;
      }

      .blacklist {
        border-color: red;
        color: red;
      }

      .activate {
        border-color: $light-blue;
        color: $light-blue;
      }
    }
  }
  .user-profile {
    background-color: white;
    border-radius:5px;
    padding: 2rem;
  }
  .profile {
    display: flex;
    align-items: center;
    padding: 20px 0;

    .profile-icon {
      width: 150px;
      height: 150px;
      border-radius: 150px;
    }

    .info {
      text-align: start;
      padding: 0 20px;
      &.border-right {
        border-right: 0.5px solid gray;
      }
      h3 {
        margin: 0;
        font-size: 22px;
      }

      h4 {
        color: green;
        font-size: 20px;
      }
    }
  }

  .tabs {
    display: flex;
    justify-content: space-between;
    width: 100%;
    button {
      color: gray;
      padding: 10px 15px;
      border: none;
      background: none;
      cursor: pointer;
      font-size:large;
      &:hover {
        color: $light-blue;
        font: bold;
        border-bottom: 3px solid lightblue;
      }
    }

    .active {
      font-weight: bold;
      border-bottom: 3px solid $light-blue;
    }
  }

  .details {
    padding: 2rem;
    background-color: white;
    margin-top: 20px;
    border-radius: 5px;

    .info-grid {
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      gap: 10px;
      padding: 5px 0;
      border-bottom: 2px solid rgb(231, 227, 227);
      &:last-child {
        border: none;
      }
      div {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        padding: 1rem 0;
        border-radius: 5px;
      }
    }
  }
}
